<div class="work">
	<h1 class="title"> 
		<%= @work.name %>
	</h1>
	<h2 class="thin date">
		<%= @work.created.strftime("%B %Y") %>
	</h3>
	<img src="<%= @work.full_img_url %>" class="portfolioImage" />
	<h3 class="about">
		About:
	</h3>
	<%= simple_format(@work.note, :class => 'description').html_safe %>
	
</div>