#menu {
	list-style: none;
	margin-top:45px;
	float:right;
}

#menu a, .logo a, .date a, .time a, #works a, header a, .title a {
	border-bottom:none;
}

#menu li {
	float:left;
	font-size: 30px;
	margin-left:25px;
	font-weight:300;
	text-shadow:#ccc 0px 1px;
}

#menu li a {
	color:#666;
	text-decoration:none;
}

#menu li a:hover {
	color:#000;
}

#outer {
	margin-top:30px;
}

a {
	color:#333;
	-webkit-transition-property: color;
	-webkit-transition-duration: 0.3s, 0.3s;
	-moz-transition-property: color;
	-moz-transition-duration: 0.3s, 0.3s;
	transition-property: color;
	transition-duration: 0.3s, 0.3s;
	text-decoration:none;
	border-bottom:1px dotted #37adcc;
}

a:hover {
	color:#37adcc;
}

#works .work, #posts .post {
	list-style:none;
	margin: 0 0 2em 0;
	clear:both;
    border-bottom: 1px solid #eee;
    padding-bottom: 2.6em;
}

ol {
	list-style:none;
}

.meta {
	text-align:right;
}

.title {
    margin:0px;
    padding-top: 1px;
    /*border-top: 1px solid #000;*/
}

.date h1 {
    margin:0;
}

h1 {
	font-weight:900;
}

.title a {
    color:#000;
    text-decoration:none;
}

.title a:hover {
    color:#37adcc;
    border-color:#09f;
}

.reblog, .noteCount {
    font-size:0.8em;
}

.quote {
    font-family: Georgia, serif;
    font-style: italic;
}

.video {
    margin-bottom:20px;
}

.forward {
   float:right;
}

.source {
    padding-left: 20px;
}

.work h1, .work h2 {
	padding:0px;
}

.thin {
	font-weight: 300;
	padding-bottom:0px;
}
.about {
	margin: 0px;
}

.date {
	color:#999;
	line-height:.8;
}

.page {
	text-align:center;
}

#photo-caption {
	font-size:14px;
	padding: 0px 0px 5px 0px;
	margin: 0px 0px 5px 0px;
}

#footer {
	text-align:left;
	color:#888;
	font-weight:900;
	border-top:1px double #bbb;
	padding-top:5px;
}

.portfolioImage {
	border:1px solid #888;
	-moz-box-shadow: 2px 2px 5px #888;
	-webkit-box-shadow: 2px 2px 5px #888;
	box-shadow: 2px 2px 5px #888;
}

#social-media img {
	padding-right:20px;
}

#social-media a {
	border-bottom:none;
}

blockquote { quotes: "\201C" "\201D"; }

blockquote:before {
    color: #999999;
    content: open-quote;
    float: left;
    font-size: 28px;
    font-weight: bold;
    margin-top: -3px;
    padding-right: 10px;
}

blockquote {
    font-size: 14px;
}

blockquote > p {
    margin-left: 25px;
}

.photo a {
    border-bottom: none;
}