<h1>Hi, I&rsquo;m Joe Flynn! I build intuitive interfaces.</h1> 
<p> 
	I am an analyst, developer, designer, musician, and an enthusiast of everything to	
	do with the web and the movement of information. My passion is user interface design and development		  
	with an eye towards readability, usability, and sound information architecture. I write CSS like it&rsquo;s my		  
	mother tongue.
	I&rsquo;m dedicated to the idea that one should never stop learning, and I&rsquo;m constantly looking
	to expand my horizons and my capabilities.
</p>
<p>
	<img src="http://joeflynn.net/img/flynn.jpg" />
	<span class="subtitle">
		Photo by <a href="http://misskaffeine.tumblr.com">Kathleen Kiefer</a>
	</span>
</p>
<p> 
	Above all, I have a passion for making systems work as elegantly as possible, focusing on
	simple, maintainable code and the usage of proven solutions over reinventing the wheel.
	This website is an example of my approach to development: it&rsquo;s built using the <a href="http://960.gs" title="960gs">960 Grid System</a> for layout and utilizes the <a href="http://tumblr.com" title="tumblr">Tumblr</a> blogging platform.
</p> 
<p> 
	I&rsquo;m a proud University of Louisville graduate, and I&rsquo;m currently the Information Architect for <a href="http://www.deyta.com" title="deyta">Deyta</a> here in Louisville, KY. I&rsquo;ve previously done development &amp; UI/UX work for <a href="http://www.ignew.com">igNew</a>, a custom software development firm, and the <a href="http://louisville.edu">University of Louisville</a> College of Business.
</p> 
<p> 
	I&rsquo;ve self-released an EP of house &amp; techno as <a title="bandcamp" href=
	"http://music.joeflynn.net/">Vinculum</a> and embark on a variety of design &amp;
	development related projects. I&rsquo;m currently learning Ruby and the Rails framework, advancing my knowledge of jQuery, 
	working on a full-length album, and thinking about picking up the guitar again.
</p> 
<p> 
	I&rsquo;m available for minor client work on a freelance basis involving .NET web application development, basic PHP development, or XHTML &amp; CSS standards-compliant web design &amp; layout.
</p>		
<p> 
	I blog about design, film, and music <a href="http://blog.joeflynn.net">here</a> &amp; I occasionally contribute to		  
	the image blog at <a href="http://butanpressfight.com">Butanpressfight</a> with a few <a href="http://birdcloud.com/" title="birdcloud">other</a> <a href="http://www.andrewohlmann.com/" title="andrew ohlmann">wonderfully</a> <a href="http://fireandrobot.com" title="fireandrobot">talented</a> <a href="http://vision.butanpressfight.com" title="women shaping technology">gentlemen.</a>
</p>