<article>
	<header>
		<h1>Hi, I&rsquo;m Joe Flynn! I build intuitive interfaces.</h1>
	</header>
	<section id="intro">
		<p>
			I'm a developer, designer, musician, and generally a creative guy. My passion is user interface design and development
			with an eye towards readability, usability, and sound information architecture. I've been writing HTML, CSS, &amp; JavaScript since I first touched the internet in 1997, and along the way I've picked up Ruby &amp; Rails, C# &amp; ASP.NET MVC, and anything else I've needed to Get Stuff Done.
		</p>
		<p>
			<img width="700" height="589" src="https://s3.amazonaws.com/joeflynn/assets/me2.jpg" />
			<span id="photo-caption">
				Photo by <a href="http://misskaffeine.tumblr.com">Kathleen Kiefer</a>
			</span>
		</p>
	</section>
	<section id="bio">
		<p>
			I&rsquo;m a proud University of Louisville graduate, and I&rsquo;m currently the Information Architect for <a href="http://www.deyta.com" title="deyta">Deyta</a>, a healthcare satisfaction analytics firm. I&rsquo;ve previously done development &amp; UI/UX work for <a href="http://www.ignew.com">igNew</a>, a custom software development firm, and the <a href="http://louisville.edu">University of Louisville</a> College of Business. When I&rsquo;m not designing or coding, I produce dance music as <a title="bandcamp" href="http://music.joeflynn.net/">Vinculum</a>.
		</p>
		<p>
			I&rsquo;m available for UI/UX consulting for people solving interesting problems. If you want to change the world and need an amazing user experience to do so, let's <a href="mailto:me@joeflynn.net">talk.</a>
		</p>
	</section>
	<section id="colophon">
		<header>
			<h2>Colophon</h2>
		</header>
		<p>
			This site was built in handcrafted HTML 5 &amp; CSS 3 with <a href="http://macromates.com">Textmate</a>. All type is set in <a href="http://fontfont.com">FF Dagny Web Pro</a>, delivered via <a href="http://typekit.com">Typekit</a>. The backend is powered by <a href="http://rubyonrails.org">Ruby on Rails</a> hosted on <a href="http://heroku.com">Heroku</a>, with <a href="http://aws.amazon.com/s3/">Amazon S3</a> serving all the static assets. The blog is powered by <a href="http://tumblr.com">Tumblr.</a> The hacker is powered by <a href="http://www.quillscoffee.com/">Quills Coffee</a> &amp; <a href="http://www.dayscoffee.com/">Day&rsquo;s Espresso.</a>
		</p>
	</section>
	<section id="social-media">
		<header>
			<h2>Follow me!</h2>
		</header>
		<p>
			<a href="http://twitter.com/notjoeflynn"><img src="https://s3.amazonaws.com/joeflynn/assets/twitter.png" /></a>
			<a href="http://www.linkedin.com/in/jmflyn"><img src="https://s3.amazonaws.com/joeflynn/assets/linkedin.png" /></a>
		</p>
	</section>
</article>